.box{
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1rem;
    //margin-top: 1rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    border-radius: 2px;
    box-sizing: border-box;

    h1{
        margin-top: 0;
    }
}

.card{
    width: 100%;
    background: white;
    border-radius: 1em;
    color: white;
    padding: 10px 15px 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    box-sizing: border-box;
    // display: grid;
    //grid-template-columns: 1fr 1fr;

    h3{
        margin-bottom: .5em;
    }

    .stat-player-info{
        box-sizing: border-box;
        display: block;
        padding: .5em;
        width: 50%;
        float: left;
        text-align: right;

        .stat-player-info__big{
            font-size: 1.5em;
            font-weight: 600;
        }

        span{
            display: block;
            padding-top: .25em;
        }
    }

    .stat-player-image{
        display: block;
        width: 50%;
        float: left;
    }

    .stats-season{
        


        .row{
            padding-top: .25em;
            padding-bottom: .25em;
        }
        .stat__big{
            font-size: 1.25em;
            font-weight: 600;
        }
    }

    .stat-card-shooting{
        font-size: .75em;
        font-weight: 300;
        font-style: italic;

    }

    *{
        margin-top: 0;
        margin-bottom: 0;
    }

    &__blue{
        background: $blue;
    }

    &__dark_gray{
        background: $dark-gray;
    }

    &__green{
        background: $green;
    }

    &__yellow{
        background: #F5BE41;
    }

    &__purple{
        background: #485db3;
    }

    &__red{
        background: $red;
    }

    &__orange{
        background: #E4572E;
    }
}

.team-list-card{
    display: block;
    float: left;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;

    transition-property: color,background-color,box-shadow,transform;
    transition-duration: .15s;

    .team-list-rank{
        text-align: right;
        font-style: italic;
    }

    .team-list-record{
        text-align: right;
        font-style: italic;
        font-size: 1.25em;
    }

    img{
        display: block;
        float: left;
        width: 50%;
    }

    .team-list-info{
        width: 50%;
        float: left;
    }
}

.team-list-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}
