*{
    font-family: $sans-serif;
    max-width: 100%;
}

a:visited{
    color: inherit;
}

body{
    background: $light-gray;
}

.main-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.flex-container{
    width: 100%;
    height: 100%;
    display: flex;
}

