<div *ngIf="player">

  <div class="row box">
    <div class="col-md-3">
        <h1>{{ player.FirstName }} {{ player.LastName }}</h1>
        <img src="{{ player.officialImageSrc }}">
    </div>
    <div class="col-md-9">
      <div class="flex-container">
          <p>This is a test</p>
      </div>
    </div>
  </div>

  <div class="card-row-3">
    <div class="stat-card stat-card__blue">
      <i class="fa fa-dribbble"></i>
      <div class="stat-info">
          <h2>{{ player.PtsPerGame['#text'] }}</h2>
          <span>Points Per Game</span>
      </div>
    </div>
    <div class="stat-card stat-card__red">
      <i class="fa fa-dribbble fa-4x"></i>
      <div class="stat-info">
          <h2>{{ player.RebPerGame['#text'] }}</h2>
          <span>Rebounds Per Game</span>
      </div>
    </div>
    <div class="stat-card stat-card__green">
      <i class="fa fa-dribbble"></i>
      <div class="stat-info">
          <h2>{{ player.AstPerGame['#text'] }}</h2>
          <span>Assists Per Game</span>
      </div>
    </div>
    <div class="stat-card stat-card__yellow">
      <i class="fa fa-dribbble"></i>
      <div class="stat-info">
          <h2>{{ player.StlPerGame['#text'] }}</h2>
          <span>Rebounds Per Game</span>
      </div>
    </div>
    <div class="stat-card stat-card__red">
      <i class="fa fa-dribbble"></i>
      <div class="stat-info">
          <h2>{{ player.BlkPerGame['#text'] }}</h2>
          <span>Points Per Game</span>
      </div>
    </div>
    <div class="stat-card stat-card__green">
      <i class="fa fa-dribbble"></i>
      <div class="stat-info">
          <h2>{{ player.TovPerGame['#text'] }}</h2>
          <span>Points Per Game</span>
      </div>
    </div>
  </div>
</div>



<div *ngIf="player.ID">
    <app-game-log  [(player)]="player.ID"></app-game-log>
</div>
