<div *ngIf="player">

  <div class="card-row-3">

    <div class="card card__blue">
      <h1>{{ player.FirstName }} {{ player.LastName }}</h1><br>
      <img class="stat-player-image" src="{{ player.officialImageSrc }}">
      <div class="stat-player-info">
          <span class="stat-player-info__big">#{{ player?.JerseyNumber}} | {{ player.Position }}</span>
          <span>{{ player.Age }} years old</span>
          <span>{{ player.Height}} | {{ player.Weight}} lbs</span>
      </div>
      
    </div>

    <div class="card card__dark_gray">
      <h3>Season Stats</h3>
      <div class="stats-season" *ngIf="statsLoaded">
        <div class="row">
          <div class="col-md-4 stat__big">
              {{ player.PtsPerGame['#text'] }} PPG
          </div>
          <div class="col-md-4 stat__big">
              {{ player.RebPerGame['#text'] }} RPG
          </div>
          <div class="col-md-4 stat__big">
              {{ player.AstPerGame['#text'] }} APG
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              {{ player.StlPerGame['#text'] }} SPG
          </div>
          <div class="col-md-4">
              {{ player.BlkPerGame['#text'] }} BPG
          </div>
          <div class="col-md-4">
              {{ player.TovPerGame['#text'] }} TOPG
          </div>
        </div>

        <br>
        <hr>
        <br>

        <div class="row">
            <div class="col-md-4 stat__big">
                {{ player.FgPct['#text'] }} FG%<br>
                <span class="stat-card-shooting">{{ player.FgMadePerGame['#text'] }}-{{ player.FgAttPerGame['#text'] }}</span>
            </div>
            <div class="col-md-4 stat__big">
                {{ player.Fg3PtPct['#text'] }} 3P%<br>
                <span class="stat-card-shooting">{{ player.Fg3PtMadePerGame['#text'] }}-{{ player.Fg3PtAttPerGame['#text'] }}</span>
            </div>
            <div class="col-md-4 stat__big">
                {{ player.FtPct['#text'] }} FT%<br>
                <span class="stat-card-shooting">{{ player.FtMadePerGame['#text'] }}-{{ player.FtAttPerGame['#text'] }}</span>
            </div>
          </div>
      </div>
    </div>

    <div class="card card__purple">
        <h3>Past Month</h3>
        <p *ngIf="monthStatsLoaded && gameLogs.length < 1">No Data Available</p>
        <mat-spinner *ngIf="!monthStatsLoaded"></mat-spinner>
        <div class="stats-season" *ngIf="monthStatsLoaded && gameLogs.length > 1">
            <div class="row">
                <div class="col-md-4 stat__big">
                    {{ monthAverages['Pts'].average }} PPG
                </div>
                <div class="col-md-4 stat__big">
                    {{ monthAverages['Reb'].average }} RPG
                </div>
                <div class="col-md-4 stat__big">
                    {{ monthAverages['Ast'].average }} APG
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ monthAverages['Stl'].average}} SPG
                </div>
                <div class="col-md-4">
                    {{ monthAverages['Blk'].average }} BPB
                </div>
                <div class="col-md-4">
                    {{ monthAverages['Tov'].average }} TOPG
                </div>
            </div>

            <br>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-4 stat__big">
                    {{  monthAverages['FgPct'].total }} FG%<br>
                    <span class="stat-card-shooting">{{ monthAverages['FgMade'].average }}-{{ monthAverages['FgAtt'].average }}</span>
                </div>
                <div class="col-md-4 stat__big">
                    {{  monthAverages['Fg3PtPct'].total }} 3P%<br>
                    <span class="stat-card-shooting">{{ monthAverages['Fg3PtMade'].average }}-{{ monthAverages['Fg3PtAtt'].average }}</span>
                </div>
                <div class="col-md-4 stat__big">
                    {{ monthAverages['FtPct'].total }} FT%<br>
                    <span class="stat-card-shooting">{{ monthAverages['FtMade'].average }}-{{ monthAverages['FtAtt'].average }}</span>
                </div>
            </div>
        </div>
    </div>

  </div>

</div>

<div class="card-row-2">
    <div class="card">
        <canvas [hidden]="!radarLoaded && !radarFailed" id="radarChart" width="200" height="200">{{ radarChart }}</canvas>
        <mat-spinner *ngIf="!radarLoaded"></mat-spinner>
        <p *ngIf="radarLoaded && radarFailed" style="color: black;">An error occured, please refresh and try again!</p>
    </div>
    <div class="card">
        <canvas [hidden]="!doughnutLoaded" id="doughnutChart" width="200" height="200">{{ doughnutChart }}</canvas>
        <mat-spinner *ngIf="!doughnutLoaded"></mat-spinner>
    </div>
</div>

<div *ngIf="player.ID">
    <app-game-log  [(player)]="player.ID"></app-game-log>
</div>

