<nav class="main-nav" id="main-nav">
    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/teams">Teams <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/players">Players <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/games">Games <span class="sr-only">(current)</span></a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div> -->
    <a href="/" class="active">Home</a>
    <a class="nav-link" routerLink="/teams">Teams <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/players">Players <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/games">Games <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="/compare">Compare <span class="sr-only">(current)</span></a>
    <a href="javascript:void(0);" class="icon" onclick="navbarResponse()">&#9776;</a>
    <span class="main-nav-search">
        <app-search *ngIf="players" [players]="players" (selectedPlayer)="navigateToPlayer($event)"></app-search>
    </span>
    
</nav>