<!-- <div *ngFor="let player of players">
  <div class="card">
    <div class="card-block">
      <a [routerLink]="[player.ID]">{{ player.FirstName }} {{ player.LastName }}</a>
    </div>
  </div>
</div> -->

<div *ngIf="players">
    <p-dataTable 
        [(value)]="players"
        [responsive]="true"
    >
      <p-column header="Player" >
        <ng-template let-player="rowData" pTemplate="body">
            {{ player.FirstName }} {{player.LastName}}
        </ng-template>
      </p-column>
      <p-column header="Pts/G" sortable="custom" (sortFunction)="sortPlayers(players, 'PtsPerGame')">
        <ng-template let-player="rowData" pTemplate="body"  let-sort="sortFn">
           {{ player.PtsPerGame['#text'] }}
        </ng-template>
      </p-column>
      <p-column header="Ast/G" sortable="custom" (sortFunction)="sortPlayers(players, 'AstPerGame')">
        <ng-template let-player="rowData" pTemplate="body">
            {{ player.AstPerGame['#text'] }}
        </ng-template>
      </p-column>
      <p-column header="Reb/G" sortable="custom" (sortFunction)="sortPlayers(players, 'RebPerGame')">
        <ng-template let-player="rowData" pTemplate="body">
            {{ player.RebPerGame['#text'] }}
        </ng-template>
      </p-column>
    </p-dataTable>
</div>
