h1 {
    font-size: 1.5em;
}

.green-text{
    color: green;
}

.red-text{
    color: red;
}

.vs-image{
    display: block;
    float: right;
    width: 25%;
}

.vs-info{
    clear: both;
    float: right;
    width: 70%;
}